/* My avatar styling */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: black;
    background-color: #e9f4f5;
    margin: 100px;
}

h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #f5f1e8;
    text-align: center;
    margin: 0;
}

h2, h3 {
    color: #2b5b84;
}

#top {
    background-color: aquamarine;
    scroll-margin-top: 20px;
    margin: 70px;
    /* border: blue;
    border-width: 20px;
    border-style: groove; */
    border: black groove 20px;
}

.site-header {
    background-color: #355c7d;
    padding: 32px;
    
}

a {
    color: yellow;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.page-content {
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
}

.content-div {
    margin: 52px 0;
}

.intro {
    background-color: white;
    padding: 24px;
    border: 8px solid #c7d5db;
}

.image-demo {
    background-image: url("../best\ emoji.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 100px 100px;
    border: purple 15px dashed;
}

.image-repeat {
    background-image: url(../bread.png);
    background-repeat: repeat;
    background-size: contain;

}

.size-example {
    width: 2500px;
    height: 120px;
    background-color: chocolate;
    border: 3px solid darkblue;
    padding: 16px;
}

.position-example {
    position: relative;
    width: 1000px;
    height: 260px;
    background-color: white;
    border: 3px cyan solid;
    padding: 16px;
}

.relative-box {
    position: relative;
    top: 20px;
    left: 30px;
    width: 140px;
    height: 70px;
    background-color: tan;
    border: 3px solid hotpink;
    text-align: center;
}

.absolute-box {
    position: absolute;
    top: 2400px;
    left: 24px;
    width: 140px;
    height: 700px;
    background-color: rbg(140, 228, 252);
    border: 3px solid rgb(195, 130, 11);
    text-align: center;
}

.z-box {
    position: absolute;
    width: 150;
    height: 90;
    color: white;
    text-align: center;
}

.front {
    z-index: 2;
    background-color: cornflowerblue;
    left: 350px;
    bottom: 50px;
}

.back {
    z-index: 1;
    background-color: aquamarine;
    left: 400px;
    bottom: 25px;
}

.fixed-note {
    position: fixed;
    right: 16px;
    bottom: 16px;
    background-color: #1c2730;
    color: white;
    padding: 10px 14px;
    border: 2px solid #f7d774;
}
/* selector {
    property: value;
}